table td{
    color: white;
}

main{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

table {
    width: 80vw;
}

td{
    border: 1px solid white;
    padding: 1.5vh 3vw;
    font-size: 1em;

}

.add-btn {
    width: 5vw;
}
.zoneSaisie{
    padding: 1vh 3vw;
    font-size: 1em;
    text-align: center;
}


thead{
    position: sticky;
    top: 0;
    background-color: black;
}

tbody {
    gap: 0;
}

.add-btn > button{
    width: 100%;
}

.tableWrap{
    overflow: auto;
    height: 63dvh;
    margin-top: 65px;

    touch-action: manipulation;
}

.title {
    font-size: 2em;
}