.form-group label{
    font-size: 2.2em;
    width: 18vw;
}


.span-ans {
    position: absolute;
    font-size: 2em;
    color: var(--white);
    right: 52vw;
}

.form-group {
    display: flex;
    margin-top: 233px;
}

.arrow-pseudo{
    position: absolute;
    top: 31.1%;
    left: 790px;
    transform: translate(-100%, -50%); 
    display: none;
    font-size: 40px;
}

.show-arrow{
    display: inline;
}


form{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;

    width: 100vw;
}

h2{
 color: var(--white);
 text-align: center;
 margin-top: 50px;
 font-size: 1.45em;
}

p{
    color: white;
}


h3{
    position: absolute;
    text-align: center;
    margin-top: 400px;
    font-size: 1.75em;
    color: #EAD581;
}


.credit-group{
    position: absolute;
    display: flex;
    width: 100vw;
    align-items: center;
    left: 380px;
    bottom: 20px;
    font-size: 1.3em;
}

.credit-group span{
    margin-left: 40px;
}

.start-group {
    margin-top: 520px;
}

.start-group span{
    font-size: 5.5em;
}



.background img{
    width: 100vw;
}

#lineLeft{
    position: absolute;
    transform: rotate(90deg);
    right: 1120px;
    bottom: 220px;
}

#lineRight{
    position: absolute;
    transform: rotate(270deg);
    left: 1120px;
    bottom: 100px;
}



li img{
    width: 650px;
    margin-left:950px ;
    
}


.splide .splide__arrow {
   background: transparent;
}


.splide .splide__arrow{
    width: 60px;
    height: 80px;
    margin-left: 680px;
    margin-right: 680px;
    color: #ED6775;
    font-size: 200px;
    opacity: 10;
}


.splide{
    position: absolute;
    margin-top: 435px;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


#register-btn {
    cursor: pointer;
}

#left {
    margin-right: 100px;
    animation: arrowanimleft 1s step-end infinite;
}

#right {
    margin-left: 100px;
    animation: arrowanimright 1s step-end infinite ;
}




#register-btn:hover > #left {
    margin-right: 0px !important;
}

#register-btn:hover > #right {
    margin-left: 0px !important;
}




@keyframes arrowanimleft{
    0%{
        margin-right: 100px;
    }
    50%{
        margin-right: 0px;
    }
    100%{
        margin-right: 100px;
    }
}


@keyframes arrowanimright{
    0%{
        margin-left: 100px;
    }
    50%{
        margin-left: 0px;
    }
    100%{
        margin-left: 100px;
    }
}


.loader {
    position: absolute;
    z-index: 99;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;

    cursor: url('../../assets/cursor.png'), auto;

    animation: animTv 1s infinite;

    transition: all ease 2s;

    opacity: 1;
}

.inscrit{
    position: absolute;
    z-index: 90;

    opacity: 0;


    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-top: 55px;
    font-size: 1.5em;


    transition: opacity 0.3s ease;

}

.inscrit.start {
    opacity: 1;
}

.loader.active    {
    transform: scale(15);

    opacity: 0;
}

.loader.end {
    display: none;
}

@keyframes animTv {
    from, to {
        background-image: url("../../assets/img/ACCUEIL.png");
    }

    50% {
        background-image: url("../../assets/img/ACCUEIL2.png"), url("../../assets/img/ACCUEIL.png");
    }
}

@keyframes zoomIn {
    to {
        transform: scale(2, 50);
    }
}

@keyframes placeholderN {
    from, to {
        color: white;
    }
    50% {
        color: rgb(189, 142, 255);
    }
}



#textInput {
    display: block;
    font-size: 2.2em;
    color: var(--white);
    width: 17.5vw;
    caret-color: white;

    animation: placeholderN 1s infinite ease;
}


#textInput:focus {
    color: white !important;
}


#textInput:focus::placeholder {
    color: transparent;
}