.form-group label{
    font-size: 2em;
    width: 30vw;
}

.form-group input{
    display: block;
    font-size: 2em;
    color: var(--white);
    width: 55vw;
    caret-color: white;

}

.form .age {
    position: relative;
}

.span-ans {
    position: absolute;
    font-size: 2em;
    color: var(--white);
    right: 52vw;
}

.form-group {
    display: flex;
    margin-top: 125px;
}

#arrow-pseudo{
    font-size: 2.3em;
    margin-right: 25px;
    display: none;
}

 input:focus, label > #arrow-pseudo{
    font-size: 2.3em;
    margin-right: 25px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;

    width: 100vw;
}

h2{
 color: var(--white);
 text-align: center;
 margin-top: 50px;
 font-size: 1.45em;
}

p{
    color: white;
}


.credit-group{
    position: absolute;
    display: flex;
    width: 100vw;
    align-items: center;
    left: 20px;
    bottom: 20px;
    font-size: 1.3em;
}

.credit-group span{
    margin-left: 40px;
}

.start-group {
    margin-top: 160px;
}

.start-group span{
    font-size: 4em;
}






/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


#register-btn {
    cursor: pointer;
}

#left {
    margin-right: 100px;
    animation: arrowanimleft 1s step-end infinite;
}

#right {
    margin-left: 100px;
    animation: arrowanimright 1s step-end infinite ;
}

#register-btn:hover > #left {
    margin-right: 0px !important;
}

#register-btn:hover > #right {
    margin-left: 0px !important;
}




@keyframes arrowanimleft{
    0%{
        margin-right: 100px;
    }
    50%{
        margin-right: 0px;
    }
    100%{
        margin-right: 100px;
    }
}


@keyframes arrowanimright{
    0%{
        margin-left: 100px;
    }
    50%{
        margin-left: 0px;
    }
    100%{
        margin-left: 100px;
    }
}