:root {

}

main {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

    .table_score {
        // overflow: auto;
        // max-height: 30vh;

        table {
            border-spacing: 0;
            text-align: center;
            width: 80vw;

            font-size: 2em;

            .sticky {
                position: sticky;
                top: 0;
            }

            thead {


                th {
                    text-align: center;
                    padding: 0.2em;

                    width: calc(80vw / 3);

                    cursor: pointer;
                }
            }
            tbody {
                tr {
                    transition: transform 1s;
                    transition-timing-function: ease-in-out;
                    transform: translateY(0px);
                }

                td {
                    padding: 0.2em;
                    width: calc(80vw / 3);

                    border-width: 1px 0 1px 0;

                    &[headers='rank'] {
                        display: flex;
                        justify-content: center;

                        div {
                            display: flex;
                            justify-content: space-between;
                            width: 100px;

                        }
                    }
                    &[headers='name'] {
                        text-align: left;
                    }

                    &[headers='score'] {
                        text-align: left;
                    }
                }
            }
        }
    }
}




tr {
    text-transform: uppercase;
    height:1.75em;
}