:root {
    --table-title: #87CCDE;
}

main {
    cursor: none;
    // background-image: url('../../assets/img/scoreboard/Ellipse_socre_board.png');
    // background-position: center;
}

.table-container {
    margin-top: 100px;

    display: flex;
    flex-direction: column;

    align-items: center;

    .table {
        display: flex;
        flex-direction: column;

        gap: 50px;

        .table-body, .table-header {
            display: flex;
            flex-direction: column;

            gap: 40px;

            .st > .col {
                background: -webkit-linear-gradient(180deg, #E3CF3C, #E48039, #E63636) !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
            }

            .nd > .col {
                background: -webkit-linear-gradient(180deg, #5B3ED2, #CB33D6, #4CD2DB) !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
            }

            .rd > .col {
                background: -webkit-linear-gradient(180deg, #55DA40, #3E8BDE, #F7EB3B) !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
            }

            .row {
                display: flex;
                flex-direction: row;

                color: white;

                font-size: 1.8em;

                gap: 10vw;

                .col {
                    width: 15vw;

                    &:nth-child(1) { // col rank
                        div {
                            display: flex;
                            justify-content: space-between;
                            width: 7vw;
                        }
                    }
                    &:nth-child(2) { // col Name
                        text-overflow: clip;
                        white-space: nowrap;
                    }
                    &:nth-child(3) { // col Score

                    }
                }
            }

        }
        .table-header {
             .row {
                 font-size: 2.2em;
                 color: var(--table-title);

                 text-transform: uppercase;
             }
        }

        .table-body {
            height: calc((30px * 10) + (40px * 9.5));

            overflow: hidden;
        }
    }
}

.notif {
    position: absolute;

    opacity: 0;
    top: -90px;
    left: 10px;


    height: 90px;
    width: calc((588/104) * 90px);

    background-image: url("/assets/img/scoreboard/notif-bg.png");
    background-size: cover;


    color: var(--white);

    padding: 10px 30px;

    display: flex;
    align-items: center;
    gap: 25px;


    img {
        width: 40px;
        aspect-ratio: 1 / 1;

        object-fit: contain;
    }
    .text {
        font-size: 0.9em;

        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
    }

    transition: all .2s ease-in-out;
}


.notif-active {
    opacity: 1;
    top: 10px
}

.notif-end {
    opacity: 0;
    top: 100px
}